link-workspace-packages = true
shared-workspace-lockfile = true
@libs:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:_password=""
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:always-auth=true

@foleon:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon/
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:_password=""
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:always-auth=true