link-workspace-packages = true
shared-workspace-lockfile = true
@libs:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:_password="eWEyOS5BMEFScmRhTS13UnF0di15REVONXlKQnM4ZVdPZ1ZpSllPVHFDMXV3eG0wNXFOU1pGWnF0VXJ3SE5FdmtpSHVpMGFMcEtQMXo0QUlndGpTVlZWRU02dTZDdExSWmJNMWo3RjZ2YXJqTEJ4ZFVOYjJtRnB2SWRrSlRuUnRwVUM2Z0wxbmFYZGxNLWFQNHI2SmxGX1RlcHZzN3FhVHUtcHBKMzh5ZGxmb1dV"
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon-libs/:always-auth=true

@foleon:registry=https://europe-west4-npm.pkg.dev/foleon-staging/foleon/
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:_password="eWEyOS5BMEFScmRhTS13UnF0di15REVONXlKQnM4ZVdPZ1ZpSllPVHFDMXV3eG0wNXFOU1pGWnF0VXJ3SE5FdmtpSHVpMGFMcEtQMXo0QUlndGpTVlZWRU02dTZDdExSWmJNMWo3RjZ2YXJqTEJ4ZFVOYjJtRnB2SWRrSlRuUnRwVUM2Z0wxbmFYZGxNLWFQNHI2SmxGX1RlcHZzN3FhVHUtcHBKMzh5ZGxmb1dV"
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:username=oauth2accesstoken
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/foleon-staging/foleon/:always-auth=true